@import './css//common.scss';

.wrapper {
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
    background-color: $primary;
    font-size: 17px;
    color: white;
}

.dropdown {
    outline: 0px;
    padding: 3px 10px;
}