$blueText : #1a73e8;

.menu {
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color:#f8f9fa;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999999;
    padding: 2px 0px;
} 

.link {
    text-decoration: none;
    color: #374151;
    padding: 7px 15px;
}

.link:hover {
    text-decoration: none;
    //color: $blueText;
    color: #374151;
    padding: 7px 15px; 
}

.link-selected {
    text-decoration: none; 
    color: $blueText;
    padding: 7px 15px;
    color: #374151;
    // color: $blueText; 
    // border-top: 2px solid $blueText; 
}

.link-selected:hover {
    text-decoration: none; 
    color: $blueText;
    padding: 7px 15px;
    color: #374151;
    // color: $blueText; 
    //border-top: 2px solid $blueText; 
}
