$blueText : #1a73e8;

.menu {
    width: 100vw;
    position: fixed;
    left: 0px;
    padding: 0px 0px;
    top: 0px;
    background-color:#f8f9fa;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999999;
}

.link {
    text-decoration: none;
    color: $blueText;
    padding: 10px 10px; 
}

.link:hover {
    text-decoration: none;
    color: $blueText;
    padding: 10px 10px; 
}

.link-selected {
    text-decoration: none; 
    color: $blueText;
    padding: 10px 10px;
    color: $blueText; 
    border-top: 2px solid $blueText; 
}

.link-selected:hover {
    text-decoration: none; 
    color: $blueText;
    padding: 10px 10px;
    color: $blueText; 
    border-top: 2px solid $blueText; 
}
